name: Default

env:
  ACTION_ENVIRONMENT: CI

on:
  push:
    branches:
      - dev
      - main
  pull_request:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ^1.18

      - name: Build
        run: go build -v ./...

      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          skip-pkg-cache: true
          skip-build-cache: true
          args: --timeout=3m --issues-exit-code=0 ./...

      - name: Test
        run: go test -race -v -coverprofile=coverage.out  -covermode=atomic ./...

      - name: Send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out